<ul id="nav-page">
    <li class="nav-tooltip">
      <span class="nav-tooltiptext">Upload Timesheet</span><a href="/"><img
          src="/static/nav_bar/icons/cloud-upload-128.png"></a>
    </li>
    <li class="nav-tooltip">
      <span class="nav-tooltiptext">Download LEM PDF</span><a href="/download_lem_pdf"><img
          src="/static/nav_bar/icons/downloads-128.png"></a>
    </li>
  
    <div id="title">
      <p>OPENINVOICE</p>
    </div>
    <div style="position: absolute; bottom: 0" id="glogo">
      <a href="https://syncrude-dep.azurewebsites.net/"><img class="logo-g"
          src="/static/assets/favicon/android-chrome-192x192.png"></a>
    </div>
  </ul>